.about-us-sections {
     display: flex;
     flex-direction: column;

     .heading {
          text-align: center;

          .header {
               font-family: "Poppins";
               justify-content: center;
               font-weight: 700;
               font-size: 32px;
               line-height: 48px;
          }

          .title {
               font-family: "Poppins";
               font-weight: 500;
               font-size: 18px;
               line-height: 27px;
               color: #1E1E1E80;
          }
     }

     .box {
          display: flex;
          flex-direction: column;
          align-items: center;

          .img-header {
               width: 96px;
               height: 96px;
               background-color: #C1DCDC;
               text-align: center;
               padding: 30px;
               border-radius: 48px;
          }

          .header {
               font-family: "Poppins";
               font-weight: 700;
               font-size: 18px;
               line-height: 27px;
               margin-top: 20px;
          }

          .title {
               text-align: center;
               font-family: "Poppins";
               font-weight: 500;
               font-size: 18px;
               line-height: 27px;
               color: #1E1E1E80;
          }
     }

}