@import url('https://fonts.googleapis.com/css?family=Poppins:500,700,800,400');
@import "./hero-section..scss";
@import "./about-section.scss";
@import "./sale-section.scss";
@import "./categories-section.scss";
@import "./swiper.scss";

.custom-margin-top {
     margin-top: 80px;
}

.custom-margin-bottom {
     margin-top: -40px;
}

.custom-margin-bottom-last {
     margin-top: -40px;
}

.green-mind {
     overflow-y: auto;
     overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
     .green-mind {
          .mid-center {
               text-align: center;
               margin-bottom: 40px;
          }
     }
}