@import url('https://fonts.googleapis.com/css?family=Poppins:500,700,800,400');

.green-mind {

     overflow-y: auto;
     overflow-x: hidden;

     .header-menu {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          ul li {
               list-style: none;
          }

          .menu-link {

               display: flex;
               flex-direction: row;

               .link {
                    display: flex;
                    flex-direction: row;

                    li {
                         margin: 10px 20px;

                         a {
                              font-size: 18px;
                              font-family: "Poppins";
                              font-weight: 500;
                              line-height: 27px;
                              color: #1E1E1E80;

                              &:hover {
                                   text-decoration: none;
                                   color: black;
                              }
                         }
                    }
               }

               .img-green-mind {
                    height: 39px;
                    width: 142px;
                    font-weight: 400;
                    letter-spacing: 0;
                    line-height: normal;
                    font-size: 12px;
               }

          }

          .menu-icon {
               display: flex;
               flex-direction: row;
               margin-left: auto;

               li {
                    margin: 15px 20px;

                    img {
                         cursor: pointer;
                    }
               }
          }

     }

     .header-menu-mobile {
          display: none;

          .menu {

               .link {
                    padding: 0;
                    text-align: center;

                    li {
                         list-style: none;
                         border-top: 1px solid #f0f3f5;
                    }
               }

               .menu-icon {
                    display: flex;
                    flex-direction: row;
                    margin-left: auto;
                    justify-content: center;
                    li {
                         list-style: none;
                         margin: 15px 20px;

                         img {
                              cursor: pointer;
                         }
                    }
               }

               .topnav {
                    overflow: hidden;
                    background-color: white;
                    position: relative;
               }

               #myLinks {
                    display: none;
               }

               a {
                    color: white;
                    padding: 14px 16px;
                    text-decoration: none;
                    display: block;
                    font-family: "Poppins";
                    font-weight: 500;
                    line-height: 27px;
                    color: #1E1E1E80;

                    &:hover {
                         text-decoration: none;
                         color: black !important;
                    }
               }

               // .topnav a.icon {
               //      // background: black;
               //      display: block;
               //      position: absolute;
               //      right: 0;
               //      top: 0;
               // }

               .topnav a:hover {
                    // background-color: #ddd;
                    color: black;
               }

               .active {
                    // background-color: #04AA6D;
                    color: white;
               }
          }
     }



     .wrapper-green-mind {
          .hero-sections {
               display: flex;
               flex-direction: column;
               align-items: center;
               background-color: #C1DCDC;
               height: 465px;

               .hero-left {
                    padding: 35px 20px 20px 0px;

                    .title {
                         color: black;
                         font-weight: 800;
                         letter-spacing: 0;
                         line-height: 64px;
                         width: 512px;
                         font-family: "Poppins";
                         font-size: 64px;
                    }

                    .text {
                         font-family: "Poppins";
                         font-weight: 500;
                         font-size: 32px;
                         line-height: 48px;
                         margin-top: 20px;
                    }

                    .plant {
                         font-family: "Poppins";
                         font-weight: 500;
                         font-size: 18px;
                         line-height: 27px;
                    }

                    input {
                         background-color: white;
                         border: white;
                         align-items: center;
                         border-radius: 12px;
                         height: 50px;
                         overflow: hidden;
                         padding: 0 14px;
                         width: 449px;
                         margin-top: 20px;
                    }

                    .vector-wrapper {
                         position: relative;

                         .vector-img {

                              background-color: #C1DCDC;
                              border-radius: 12px;
                              height: 37px;
                              left: 390px;
                              top: 26px;
                              min-width: 48px;
                              padding: 6px 14px;
                              position: absolute;

                              .vector-img {
                                   height: 20px;
                                   width: 20px;
                                   text-align: center;
                              }

                         }
                    }
               }

               .hero-right {
                    position: relative;
                    top: 115px;
                    left: 47px;

                    .unsplash {
                         display: flex;

                         .rectangle-img {
                              margin-left: auto;
                              margin-left: auto;
                              height: 350px
                         }
                    }

                    .unsplash-img {
                         position: absolute;
                         top: -105px;
                         left: 250px;
                         height: 455px;
                    }
               }

               .vector-1 {
                    position: absolute;
                    top: 159px;
                    width: 131px;
                    left: 83px;
               }

               .vector-2 {
                    position: absolute;
                    top: -95px;
                    left: 577px;
                    height: 150px;
               }
          }
     }

     .sale-sections {

          .header {
               font-family: "Poppins";
               letter-spacing: 0;
               line-height: 48px;
               font-size: 32px;
               font-weight: 700;

          }


          .title,
          .price-card {
               font-family: "Poppins";
               letter-spacing: 0;
               line-height: normal;
               font-size: 18px;
               color: #1E1E1E80;
               font-weight: 500;
          }

          .card {
               border: none;

               .header-card {
                    margin-top: 15px;
                    font-family: "Poppins";
                    letter-spacing: 0;
                    line-height: normal;
                    font-size: 18px;
                    font-weight: 500;
               }
          }

          .see-more {
               padding: 12px 24px;
               background-color: #C1DCDC;
               border: #C1DCDC;
               border-radius: 8px;
               gap: 10px;
               text-align: center;
          }
     }

     .about-us-sections {
          display: flex;
          flex-direction: column;

          .heading {
               text-align: center;

               .header {
                    font-family: "Poppins";
                    justify-content: center;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 48px;
               }

               .title {
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    color: #1E1E1E80;
               }
          }

          .box {
               display: flex;
               flex-direction: column;
               align-items: center;

               .img-header {
                    width: 96px;
                    height: 96px;
                    background-color: #C1DCDC;
                    text-align: center;
                    padding: 30px;
                    border-radius: 48px;
               }

               .header {
                    font-family: "Poppins";
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 27px;
                    margin-top: 20px;
               }

               .title {
                    text-align: center;
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    color: #1E1E1E80;
               }
          }

     }

     .categories-sections {
          display: flex;
          flex-direction: column;

          .heading {
               text-align: center;

               .header {
                    font-family: "Poppins";
                    justify-content: center;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 48px;
               }

               .title {
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    color: #1E1E1E80;
               }
          }

          .categories-detail {
               background-color: #C1DCDC;
               height: 840px;
               display: flex;
               flex-direction: column;
               align-items: center;

               .header {
                    font-family: "Poppins";
                    justify-content: center;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 48px;
               }

               .title {
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    color: #1E1E1E80;
                    text-align: center;
               }

               .explore {
                    border-radius: 8px;
                    padding: 12px 24px 12px 24px;
                    gap: 10px;
                    background-color: white;
                    border: white;
               }

               .box-middle {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
               }
          }
     }

     .wrapper-sidebar {
          .box-comment {
               background-color: #C1DCDC;
               width: 800px;
               height: 330px;
               border-radius: 12px;
               padding: 30px;

               &-text {}

               .header-comment {
                    font-family: "Poppins";
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 48px;
               }

               .comment {
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
               }

               .box {
                    display: flex;
                    flex-direction: row;
               }

               .box-cus {
                    display: flex;
               }

               .custom-img-start {
                    position: relative;
                    top: -38px;
                    right: 10px;
               }

               .name {
                    font-family: "Poppins";
                    font-weight: 700;
                    font: 18px;
                    line-height: 27px;
               }

               .job {
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    color: #1E1E1E80;
               }
          }

          .pagination {
               display: flex;
               justify-content: end;
          }

          .swiper {
               width: 100%;
               height: 100%;
          }

          .swiper-slide {
               text-align: center;
               font-size: 18px;
               background: #fff;
               display: flex;
          }

          .swiper-pagination-bullet {
               padding: 5px 10px;
               border-radius: 0;
               width: 12px;
               height: 6px;
               text-align: center;
               line-height: 30px;
               font-size: 12px;
               color: #000;
               opacity: 1;
               margin: 0px 3px;
               background: #C1DCDC;
               border-radius: 12px;
          }

          .swiper-pagination-bullet-active {
               color: #fff;
               background: #C1DCDC;
               width: 40px;
               border-radius: 12px;
          }

          .swiper-slide {
               width: 60%;
               margin-right: 50px !important;
               text-align: start !important;
          }

     }

     .custom-margin-top {
          margin-top: 80px;
     }

     .custom-margin-bottom {
          margin-top: -40px;
     }

     .custom-margin-bottom-last {
          margin-top: -40px;
     }

     .footer {
          background-color: #C1DCDC;

          .link-contact {
               .img-green-mind {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 29px;
               }

               .title {
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    color: #1E1E1E80;
               }
          }

          .menu-link {
               display: flex;
               flex-direction: row;
               justify-content: end;

               ul li {
                    list-style: none;

                    a {
                         font-family: "Poppins";
                         font-weight: 400;
                         font-style: 18px;
                         line-height: 27px;
                         color: #1E1E1E80;


                         &:hover {
                              text-decoration: none;
                              color: black;
                         }
                    }
               }



               h3 {
                    font-family: "Poppins";
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 27px;
               }
          }

          .note {
               font-family: "Poppins";
               font-weight: 500;
               font-size: 18px;
               line-height: 27px;
               color: #1E1E1E80;
          }
     }
}

@media screen and (max-width: 1000px) {
     .green-mind {
          .header-menu {

               justify-content: center;
               display: none;

               .menu-link {
                    .link {
                         display: none;
                    }
               }

               .menu-icon {
                    display: none;
               }
          }

          .header-menu-mobile {
               display: block;

               .menu {
                    .topnav {
                         display: flex;
                         flex-direction: row;
                         justify-content: space-between;
                    }

                    #myLinks {
                         transition: all .3s linear;
                         position: absolute;
                         background: white;
                         z-index: 1000;
                         width: 100%;
                    }
               }
          }


          .hero-sections {
               height: 769px !important;

               .hero-left {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px !important;

                    .row {
                         justify-content: center;
                    }

                    h1 {
                         text-align: center;
                    }

               }



               .hero-right {
                    top: 50px !important;
                    left: -130px !important;

                    .unsplash-img {
                         left: 320px !important;
                    }

                    .vector-1 {
                         top: -25px !important;
                         left: 186px !important;
                    }

                    .vector-2 {
                         top: -53px !important;
                         left: 690px !important;
                    }
               }
          }

          .mid-center {
               text-align: center;
               margin-bottom: 40px;
          }

          .sale-sections {
               .card {
                    text-align: center;
               }
          }

          .categories-sections {

               .categories-detail {
                    height: 100% !important;


                    .custom-margin-top {
                         margin: 0;
                         padding-bottom: 30px;
                    }

                    .custom-margin-bottom-last {
                         margin: 0;
                    }
               }
          }

          .wrapper-sidebar {

               margin-top: 90px !important;

               .box-comment {
                    height: 440px !important;
               }

               .box {
                    .custom-img-start {
                         top: 20px !important;
                         right: 182px !important;
                    }

                    .point {
                         top: 55px !important;
                         position: absolute !important;
                         left: 200px !important;
                    }
               }
          }

          .footer {
               .menu-link {
                    justify-content: center !important;
               }

               .link-contact {
                    padding-bottom: 0px !important;
               }

               .note {
                    margin-top: 0px !important;
                    text-align: center;
               }
          }
     }
}


@media screen and (max-width: 875px) {
     .green-mind {
          .header-menu {
               .menu-link {
                    .link {
                         display: none;
                    }
               }
          }
     }
}